# Data Wrangling - Extract Data from .xlsx Workbook
### POD Allocation | Project 3

Goal: Extract data from Excel Workbook

Steps
- Setup Cursors and connection to Containers
- Transform Excel Workbook shetts into CSV Files

In [1]:
import openpyxl

import psycopg2

import json

import csv

import openpyxl

import pandas as pd

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

### Reading Exel Workbooks and Worksheets

In [4]:
def my_read_excel_work_book_list_sheets(excel_file_name):
    "open the excel file, list the sheets"
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    print("\nExcel Workbook", excel_file_name, "list of work sheets:\n")
    
    for s in work_book.sheetnames:
        print(s)

In [5]:
my_read_excel_work_book_list_sheets("../data_project3_4.xlsx")

Excel Workbook ../data_project3_4.xlsx list of work sheets:

pods
assets
pod_nav_history
asset_factor_exposures
pods_current_allocation

In [6]:
def my_read_excel_work_book_sheet(excel_file_name, sheet_name, limit):
    "open the excel file, find the sheet_name, print the number of rows specified"
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nPrinting the first", limit, "rows :\n")
    
    i = 0
    for row in work_sheet_list:
        print(row)
        i += 1
        if i == limit:
            break

In [7]:
my_read_excel_work_book_sheet("../data_project3_4.xlsx", "pods", 10)

Excel Workbook: ../data_project3_4.xlsx

Work Sheet: pods

Number of Columns: 6

Number of Rows: 23

Printing the first 10 rows :

['pod_id', 'pod_name', 'pod_asset_class_focus', 'pod_geo_focus', 'pod_inception_date', None]
['GSEMCBI LX', 'GS EMRG MRKT CORP BD PT IA', 'Fixed Income', 'Global', '5/17/2011', None]
['AUDHYBI LX', 'AXA WF-US DYN HIGH YLD BD-I', 'Fixed Income', 'U.S.', '1/15/2014', None]
['SPY US', 'SPDR S&P 500 ETF TRUST', 'Equity', 'U.S.', '1/22/1993', None]
['WSEEAUH ID', 'WELL STRAT EUR EQ-S EUR AC', 'Equity', 'European Region', '12/15/2011', None]
['QLEIX US', 'AQR LONG-SHORT EQUITY-I', 'Alternative', 'U.S.', '7/16/2013', None]
['JHQAX US', 'JPMORGAN HEDGED EQUITY-A', 'Alternative', 'U.S.', '12/13/2013', None]
['JPMUUDA LX', 'JPM US SEL EQ PLS-A DIS USD', 'Equity', 'U.S.', '8/9/2007', None]
['BDMAX US', 'BR GLOB EQ MARK NEUTRAL F-A', 'Alternative', 'Global', '12/20/2012', None]
['MEDMORL ID', 'MEDIOLANUM-MORGAN STAN GLB-L', 'Alternative', 'Global', '3/25/2008', None]

### Loading Exel Workbooks and Worksheets

In [8]:
def my_export_excel_work_book_sheet_to_csv(excel_file_name, sheet_name, csv_file_name):
    "open the excel file, find the sheet_name, export to csv file "
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1, work_sheet.max_row + 1):
        row_list = []

        for j in range(1, work_sheet.max_column + 1):
            cell_value = work_sheet.cell(row=i, column=j).value
            row_list.append(cell_value)

        while row_list and row_list[-1] is None:
            row_list.pop()

        work_sheet_list.append(row_list)
        
    # Printing trimmed number of columns
    max_cols = max(len(row) for row in work_sheet_list)
    
    print("\nUpdated Number of Columns (after trimming):", max_cols)
    
    print("\nNumber of Rows:", len(work_sheet_list))
    
    print("\nExtracting Work Sheet", sheet_name, "to", csv_file_name, "\n")
    
    f = open(csv_file_name, "w")    
    writer = csv.writer(f)
    writer.writerows(work_sheet_list)
    f.close()

#### Worksheet: pods

In [9]:
my_export_excel_work_book_sheet_to_csv("../data_project3_4.xlsx",
                                       "pods",
                                       "pods.csv")

Excel Workbook: ../data_project3_4.xlsx

Work Sheet: pods

Number of Columns: 6

Number of Rows: 23

Updated Number of Columns (after trimming): 5

Number of Rows: 23

Extracting Work Sheet pods to pods.csv

#### Worksheet: assets

In [10]:
my_export_excel_work_book_sheet_to_csv("../data_project3_4.xlsx",
                                       "assets",
                                       "assets.csv")

Excel Workbook: ../data_project3_4.xlsx

Work Sheet: assets

Number of Columns: 6

Number of Rows: 3818

Updated Number of Columns (after trimming): 5

Number of Rows: 3818

Extracting Work Sheet assets to assets.csv

#### Worksheet: pod_nav_history

In [11]:
my_export_excel_work_book_sheet_to_csv("../data_project3_4.xlsx",
                                       "pod_nav_history",
                                       "pod_nav_history.csv")

Excel Workbook: ../data_project3_4.xlsx

Work Sheet: pod_nav_history

Number of Columns: 23

Number of Rows: 1567

Updated Number of Columns (after trimming): 23

Number of Rows: 1567

Extracting Work Sheet pod_nav_history to pod_nav_history.csv

In [12]:
from aux_melt_pod_historical_prices import melt_pod_historical_prices

In [13]:
df_pods_nav_hist = pd.read_csv('pod_nav_history.csv')
df_pods_nav_hist.head(5)

,Dates,GSEMCBI LX,AUDHYBI LX,SPY US,WSEEAUH ID,QLEIX US,JHQAX US,JPMUUDA LX,BDMAX US,MEDMORL ID,...,GARUKAI LN,GDMYX US,EXCRISA LX,CPLSX US,LANSVRG SS,BGTFDLX LX,FFAAYAU LX,0431214C JP,GUGYGBA ID,PIMGHYB ID
0,1995-07-07 00:00:00,NaN,NaN,55.7656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995-07-14 00:00:00,NaN,NaN,56.0469,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-07-21 00:00:00,NaN,NaN,55.4063,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-07-28 00:00:00,NaN,NaN,56.2969,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-08-04 00:00:00,NaN,NaN,55.9844,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_pods_nav_hist_melted = melt_pod_historical_prices(df_pods_nav_hist)
df_pods_nav_hist_melted.head(5)

           date       pod_id    price
1013 2014-12-05  0431214C JP  10046.0
1014 2014-12-12  0431214C JP   9802.0
1015 2014-12-19  0431214C JP   9826.0
1016 2014-12-26  0431214C JP  10040.0
1017 2015-01-02  0431214C JP   9976.0

In [15]:
df_pods_nav_hist_melted.to_csv('pod_nav_history.csv', index=False)

#### Worksheet: asset_factor_exposures

In [16]:
my_export_excel_work_book_sheet_to_csv("../data_project3_4.xlsx",
                                       "asset_factor_exposures",
                                       "asset_factor_exposures.csv")

Excel Workbook: ../data_project3_4.xlsx

Work Sheet: asset_factor_exposures

Number of Columns: 6

Number of Rows: 2716

Updated Number of Columns (after trimming): 6

Number of Rows: 2716

Extracting Work Sheet asset_factor_exposures to asset_factor_exposures.csv

#### Worksheet: pods_current_allocation

In [17]:
my_export_excel_work_book_sheet_to_csv("../data_project3_4.xlsx",
                                       "pods_current_allocation",
                                       "pods_current_allocation.csv")

Excel Workbook: ../data_project3_4.xlsx

Work Sheet: pods_current_allocation

Number of Columns: 3

Number of Rows: 5473

Updated Number of Columns (after trimming): 3

Number of Rows: 5473

Extracting Work Sheet pods_current_allocation to pods_current_allocation.csv